  <p>
    <b>Venue</b><br />
    <%= f.text_field :venue %>
  </p>

  <p>
    <b>Operator</b><br />
    <%= f.text_field :operator %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>