<style>.logout {  display: none; } .main_nav {  display: none; }</style>

<p>
  <b>Room type:</b>
  <%=h @room.room_type %>
</p>

<p>
  <b>Hotel:</b>
  <%=h @room.hotel_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @room.description %>
</p>
