<p>
  <b>Address:</b>
  <%=h location.address %>
</p>

<p>
  <b>Post code:</b>
  <%=h location.post_code %>
</p>

<p>
  <b>Country:</b>
  <%=h location.country %>
</p>


<%= link_to 'Edit Address', edit_location_path(@location) %> <br /><br />
